
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body bgcolor="lightblue">
    <div id="header">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    
    </div>
<hr color="black" size="3">
   <h2>Data Update page!!!</h2>
    <table border="1" width="500px" height="300px">
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>City</th>
            <th>Fees</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
   <% Data.forEach((key)=>{ %>
        <tr>
            <td> <%= key.name %></td>
            <td> <%= key.subject %></td>
            <td> <%= key.city %></td>
            <td> <%= key.fees %></td>
            <td>
                <a href="/editdata/?id=<%= key.id %>">edit</a>
            </td>
            <td>
                <a href="/datadelete/?id=<%= key.id %>">delete</a>
            </td>
        </tr>
      <% }) %>

    </table>

</body>
</html>